<!-- views/realTimeProducts.handlebars -->
<h1>Repuestos VW Escarabajo (Tiempo Real)</h1>
<ul id="productList">
    {{#each products}}
        <li data-id="{{this._id}}">
            <strong>{{this.title}}</strong><br>
            Descripción: {{this.description}}<br>
            Precio: ${{this.price}}<br>
            Código: {{this.code}}<br>
            Stock: {{this.stock}}
            <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
        </li>
    {{/each}}
</ul>

<h2>Agregar Nuevo Producto</h2>
<form id="addProductForm">
    <input type="text" id="title" placeholder="Nombre" required><br>
    <input type="text" id="description" placeholder="Descripción" required><br>
    <input type="number" id="price" placeholder="Precio" required><br>
    <input type="text" id="thumbnail" placeholder="Imagen" required><br>
    <input type="text" id="code" placeholder="Código" required><br>
    <input type="number" id="stock" placeholder="Stock" required><br>
    <input type="text" id="category" placeholder="Categoría" required><br>
    <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('updateProducts', (products) => {
        const productList = document.getElementById('productList');
        productList.innerHTML = '';
        products.forEach(product => {
            const li = document.createElement('li');
            li.setAttribute('data-id', product._id);
            li.innerHTML = `
                <strong>${product.title}</strong><br>
                Descripción: ${product.description}<br>
                Precio: $${product.price}<br>
                Código: ${product.code}<br>
                Stock: ${product.stock}
                <button onclick="deleteProduct('${product._id}')">Eliminar</button>
            `;
            productList.appendChild(li);
        });
    });

    socket.on('error', (message) => {
        alert(message);
    });

    document.getElementById('addProductForm').addEventListener('submit', (e) => {
        e.preventDefault();
        const product = {
            title: document.getElementById('title').value,
            description: document.getElementById('description').value,
            price: parseFloat(document.getElementById('price').value),
            thumbnail: document.getElementById('thumbnail').value,
            code: document.getElementById('code').value,
            stock: parseInt(document.getElementById('stock').value),
            category: document.getElementById('category').value
        };
        socket.emit('addProduct', product);
        e.target.reset();
    });

    function deleteProduct(id) {
        socket.emit('deleteProduct', id);
    }
</script>